
<% layout('layout/boilerplate.ejs') %>
<div class="play">
    <div class="song" id="imgDiv">
        <div id="img">
        <img src="<%= song.songImg %>" alt="">
    </div>
    </div>
    <div class="song">
        <h1><%= song.name %></h1>
    </div>
    <div class="song">
        <h2><%= song.singer %></h2>
    </div>
    <div id="audio">
<!-- <nav>
    <div class="circle">
        <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div class="circle">
        <i class="fa-solid fa-bars"></i> 
    </div>
</nav> -->
    <audio id="song">
        <source src="<%= song.songURL %>" type="audio/mpeg">
    </audio>
    <input type="range" value="0" id="progress">
    <div class="controls">
        <form action="/play/<%= song._id %>/prev" method="post">
         <button><div id="prevSong"><i class="fa-solid fa-backward"></i></div></button>
        </form>
         <div onclick="playPause()"><i class="fa-solid fa-pause" id="ctrlIcon"></i></div>
         <form action="/play/<%= song._id %>/forward" method="post">
         <button><div id="nextSong"><i class="fa-solid fa-forward"></i></div></button>
        </form>
    </div>
    </div>
</div>
<div class="desc">
<p> <%= song.description %></p>
</div>
<script src="/javascripts/show.js"></script>
